@import url("https://fonts.googleapis.com/css?family=Bellota+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bellota&display=swap");

.App {
  font-family: "Bellota Text", cursive;
  text-align: center;
  background-color: transparent;
  width: 400px;
  display: grid;
  justify-items: center;
  border-radius: 10px;
  /* box-shadow: 17px 15px 20px #0a0e0ee6; */
  margin: 24px;
  margin-top: 0;
  /* height: 100vh; */
}

body {
  background-color: #fe605a;
  margin: 0px;
  height: 100vw;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root {
  display: flex;
  color: #eef3dc;
  justify-content: center;
  align-items: center;
}

.tilt {
  border: 2px solid white;
  background-color: blue;
  height: 300px;
  width: 300px;
}

.logo {
  width: 150px;
  height: 100px;
  margin: 0px;
}

.center {
  display: flex;
  justify-content: space-between;
  background-color: #fe605a;
  filter: brightness(110%);
  width: 100vw;
  margin-left: 30px;
}

.link-container {
  border-right: 1px solid white;
  padding-right: 30px;
}

.link {
  color: #b6d9d5;
  text-decoration: none;
  margin: 0px 10px 42px 0px;
}

.heading {
  font-family: "Bellota", cursive;
  font-size: 1.4em;
}

.add-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-todo {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 15px;
}

.add-todo input {
  outline: none;
  border: 2px solid #b6d9d5;
  text-align: center;
  border-radius: 30px;
  color: white;
  font-family: "Bellota", cursive;
  font-size: 1.1em;
  font-weight: 600;
  background-color: #fe605a;
  padding: 8px;
  height: 30px;
  margin-left: 30px;
}

.add-btn {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #fe605a;
  color: #adceca;
  font-size: 1em;
  cursor: pointer;
  margin-top: 0px;
  width: 10px;
  animation: plusButton 1s infinite;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes plusButton {
  100% {
    color: #adceca;
  }
  50% {
    color: #adcecac0;
  }
  0% {
    color: #adceca3b;
  }
}

.todo-input::placeholder {
  color: #ffffff5e;
}

.add-todo ::placeholder {
  padding: 4px;
}

.drop-container {
  display: flex;
  margin: 5px;
  margin-bottom: 18px;
}

.add-to-txt {
  margin-right: 5px;
}

select {
  background-color: #b6d9d5;
  color: white;
  font-weight: 600;
  appearance: none;
  background-image: none;
  outline: none;
  border: none;
  text-align: center;
}

.page-view-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.page-view {
  font-size: 1.3em;
  font-family: "Bellota", cursive;
  color: white;
  position: relative;
  animation: pageView 3s;
  margin: 15px;
  padding: 0px;
  border: none;
  background-color: #fe605a;
  text-decoration: none;
  outline: none;
}

.dim {
  color: rgba(255, 255, 255, 0.287);
}

@keyframes pageView {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.countdown p {
  font-family: "Bellota", cursive;
  color: white;
}

.render-view {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  animation: renderView 2s;
  overflow: hidden;
}

@keyframes renderView {
  from {
    opacity: 0;
    /* top: -50px; */
  }
  to {
    opacity: 1;
    /* top: 0px; */
  }
}

.todo-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: hidden;
}

.todo-item {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 300px;
  border: 2px solid #b6d9d5;
  border-radius: 30px;
  margin: 2px;
  background-color: #fe605a;
  font-size: 1.3rem;
}

.todo-item p {
  margin-left: 0px;
  text-align: center;
  width: 100%;
}

.done {
  text-decoration: line-through;
  color: #b6d9d567;
  position: relative;
  animation: done 0.3s;
}

@keyframes done {
  from {
    color: white;
    /* top: -50px; */
  }
  to {
    color: #b6d9d567;
    /* top: 0px; */
  }
}

.done-check {
  color: #b6d9d5;
  position: relative;
  width: 20px;
  animation: doneCheck 0.3s;
}

.not-done-check {
  color: rgba(209, 209, 209, 0.24);
  width: 20px;
}

@keyframes doneCheck {
  from {
    opacity: 0;
    font-size: 3em;
    color: white;
    /* top: -50px; */
  }
  to {
    opacity: 1;
    font-size: 1em;
    color: #b6d9d5;

    /* top: 0px; */
  }
}

.hide {
  display: none;
}

.delete-btn {
  margin: 5px;
  margin-left: 10px;
  width: 25px;
  height: 30px;
  border: 1px solid white;
  background-color: white;
  color: #fe605a;
  font-weight: 600;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0px;
}

.washing-machine {
  display: flex;
  flex-direction: column;
  background-color: #b6d9d5;
  border: 2px solid white;
  border-radius: 5px;
  padding-top: 10px;
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}

.washer-button {
  margin: 0px;
  color: white;
  position: relative;
  animation: washerButton 1.5s infinite;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  margin-left: 30px;
}

@keyframes washerButton {
  100% {
    transform: scale(0.3);
    color: #b6d9d5;
  }
  50% {
    color: #caf0eb;
  }
  0% {
    transform: scale(1);
    color: white;
  }
}

.loader {
  /* font-size: 2em; */
  width: 65px;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.todo-text-container {
  display: flex;
}

/* Authorization Login Page */

.login-page-container {
  font-family: "Bellota Text", cursive;
  display: grid;
  grid-template-columns: 1fr 0.001fr 1fr;
  gap: 5px;
  width: 60vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 42px;
}

.left-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100%;
  border-radius: 30px;
}

.right-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100%;
  border-radius: 30px;
}
.credentials-wrapper {
  margin: 200px;
  font-family: inherit;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
}

.credentials-wrapper input {
  outline: none;
  border: none;
  border-bottom: 2px solid #b6d9d5;
  background-color: #fe605a;
  text-align: center;
  color: white;
  font-family: "Bellota", cursive;
  font-size: 1.1em;
  font-weight: 600;
  padding: 8px;
  height: 30px;
  margin: 10px;
}

.credentials-wrapper input::placeholder {
  color: white;
}

.credentials-wrapper p {
  font-family: "Bellota", cursive;

  color: white;
  font-weight: 600;
  font-size: 32px;
}

.divider {
  height: 80vh;
  background-color: white;
  color: white;
  width: 2px;
}

.common-button {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 150px;
  border: 2px solid #b6d9d5;
  border-radius: 30px;
  margin: 20px;
  background-color: #fe605a;
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
}
